* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2F426C;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2d9d7;
    width: 90vw;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 20px;
}

h1 {
    background-color: #9E2D5B;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
    padding: 20px 10px;
}

.output {
    padding: 10px 5px;
    border-radius: 1000px;
    background-color: #9E2D5B;
    color: #fff;
    margin-top: 10px;
}

.output-container {
    margin-top: 20px;
}

.input-container {
    width: 70%;
    margin-top: 10px;
}

.input-value {
    margin-top: 5px;
}

.info {
    margin: 5px;
}